[Unit]
Description=dworm

[Service]
ExecStart=/usr/bin/dworm.run
Restart=on-failure
User=erra
EnvironmentFile=/etc/dworm.d/.service-env

[Install]
WantedBy=multi-user.target
